.App {
  margin: 3em auto;
  max-width: 50em;
  font-family: 'Raleway', sans-serif;
}

.App h1 {
  text-align: center;
  font-family: 'Germania One', cursive;
}

.App a {
  font-family: 'Baloo Chettan', cursive;
  color: #721796;
}

.App a:hover {
  font-family: 'Baloo Chettan', cursive;
  color: #dea4f5;
}

ul.albums {
  margin: 0;
  padding: 0;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}
img.cover {
  max-width:60px;
  margin-right: 1em;
}

.albums > li {
  margin: 1em 0 0 0;
  list-style-type: none;
  width: 99%;
}

.albums > li > a{
  text-decoration: none;
}


.name {
  font-family: 'Playfair Display', serif;
}

.artist {
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  font-style: italic;
}

.player {
  width: 200px;
  font-size: 30px;
  margin: auto;
}
