.App {
  margin: 3em auto;
  max-width: 50em;
  font-family: 'Raleway', sans-serif;
}

.App h1 {
  text-align: center;
  font-family: 'Germania One', cursive;
}

.App a {
  font-family: 'Baloo Chettan', cursive;
}

ul.albums {
  margin: 0;
  padding: 0;
}
img.cover {
  max-width:60px;
  margin-right: 1em;
}

.albums > li {
  margin: 1em 0 0 0;
  list-style-type: none;
}

.albums > li > a {
  color: inherit;
  text-decoration: none;
}

.albums > li > a > .name {
  position: absolute;
  margin-top: 5px;
  font-family: 'Playfair Display', serif;
}

.albums > li > a > .artist {
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  font-style: italic;
  position: relative;
  top: 12px;
}